# Inicio sesion
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
#Dependecias y archivos que se compilan
node_modules
dist
dist-ssr
*.local

# EDITOR Y ARCHIVOS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
